<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Exemplo de Node.js: Formulário de Livros</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container mt-5">
      <% if (messages.success) { %>
      <p class="alert alert-success mb-3"><%- messages.success %></p>
      <% } %>
      <form action="/user_form" method="POST">
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="Nome_Livro"
            placeholder="Nome do Livro"
            name="Nome_Livro"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="ISBN13"
            placeholder="ISBN-13"
            name="ISBN13"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="ISBN10"
            placeholder="ISBN-10"
            name="ISBN10"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="ID_Categoria"
            placeholder="ID da Categoria"
            name="ID_Categoria"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="ID_Autor"
            placeholder="ID do Autor"
            name="ID_Autor"
          />
        </div>
        <div class="mb-2">
          <input
            type="text"
            class="form-control"
            id="ID_Editora"
            placeholder="ID da Editora"
            name="ID_Editora"
          />
        </div>
        <div class="mb-2">
          <input
            type="date"
            class="form-control"
            id="Data_Pub"
            name="Data_Pub"
          />
        </div>
        <div class="mb-2">
          <input
            type="number"
            class="form-control"
            id="Preco_Livro"
            placeholder="Preço do Livro"
            name="Preco_Livro"
          />
        </div>
        <button type="submit" class="btn btn-dark">Armazenar</button>
      </form>
    </div>
  </body>
</html>
